.button {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #333333;
    -fx-border-width: 1;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0.0, 0, 1);
    -fx-transition: all 0.3s ease-in-out;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #3a3a3a, #2a2a2a);
    -fx-translate-x: 3;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 8, 0.0, 0, 2);
    -fx-border-color: #555555;
    -fx-text-fill: #e0e0e0;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
